player-connection-mode=Listen
player-connection-guid=1308929894
player-connection-debug=1
player-connection-project-name=Network Project
player-connection-ip=10.80.148.41
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b2253884a0b8472e8e0607c27a4a9502
